.cssbuttons-io {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  border: none;
  color: ghostwhite;
  overflow: hidden;
  @apply bg-gradient-to-r from-secondary to-primary-light;
}

.cssbuttons-io svg {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}

.cssbuttons-io span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cssbuttons-io::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
  transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
  transform: scale(0.95);
}

.send-button {
  @apply bg-gray-800 text-white p-2 mt-2 relative rounded-lg border-none outline-none 
  ring-blue-300 focus:ring-1 overflow-hidden flex justify-center items-center ;
}

.send-button::after {
  @apply content-[""] w-0 h-full absolute transition-all bg-violet-800
  duration-300 ease-in-out right-0 hover:right-auto hover:left-0 hover:w-full;
}

.send-button:hover::after {
  @apply w-full left-0 right-auto;
}

.send-button span, .send-button i {
  @apply text-white text-base font-semibold tracking-wider 
  z-20 transition-all ease-in-out duration-300;
}