@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.languages {
  @apply flex flex-row justify-center items-center px-3 py-2 appearance-none rounded-lg
  bg-blue-200 text-blue-800 font-semibold text-sm cursor-pointer hover:bg-blue-300
  transition duration-300 ease-in-out text-center focus:outline-none focus:ring-2 
  focus:ring-blue-600 focus:ring-opacity-50 focus:ring-offset-2 focus:ring-offset-blue-200
  hover:scale-105 transform transition;
  ;
}

.custom-gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-tr from-primary to-secondary;
}