---
interface Props {
  name: string;
  href: string;
  img: string;
  color: string;
}

const { name, href, img, color } = Astro.props;
---

<a class={`card-link ${color}`} href={href}>
  <img src={`/assets/${img}.svg`} alt="Github Logo" width="35" />
  <span class="text-lg font-bold text-gray-800">{name}</span>
</a>
