---
import { projects } from "../constants";
import { ProjectCard, ViewButton } from "./ts";
import { t } from "i18next";
import { Trans } from "astro-i18next/components";
---

<section class="mx-auto my-10 w-full">
  <h1 class="text-5xl font-black text-white">{t("projectsSection.title")}</h1>
  <p class="mt-5 text-lg text-white max-w-xl mx-auto">
    <Trans i18nKey="projectsSection.subtitle">
      Here you can find some of my most recent projects. You can see the code in my <a
        class="text-blue-300 font-semibold"
        href="https://github.com/InyerM"
        target="_blank">GitHub</a
      >. Most of them are developed with NextJs, React, Svelte
    </Trans>
  </p>
  <section class="grid md:grid-cols-2 gap-2 my-5 grid-cols-1">
    {
      projects.map((project) => {
        return (
          <section class="relative justify-self-center w-full">
            <ProjectCard {...project} client:visible />
            <ViewButton link={project.link} />
          </section>
        );
      })
    }
  </section>
</section>

