---
import { projects } from "../constants";
import ProjectCard from "./ProjectCard.astro";
---

<section class="mx-auto my-10 w-full">
  <h1 class="text-5xl font-black text-white">My Projects</h1>
  <p class="mt-5">
    <span class="text-xl text-white">Most recent projects</span>
  </p>
  <section class="grid md:grid-cols-2 gap-2 my-5 grid-cols-1">
    {
      projects.map((project) => {
        return <ProjectCard {...project} />;
      })
    }
  </section>
</section>
